.footer{
  background-color: #000000;
  color: white;
font-family: 'satoshi', sans-serif;
padding: 2rem;
padding-bottom: 1rem;
font-size: 0.9rem;
letter-spacing: 1px;
}

.footer-logo-copy{
  display: flex;
  flex-direction: row;
justify-content: space-between;
}

.footer-brand{
  font-size: 1.2rem;
  letter-spacing: 5px;
  font-weight: bold;
  cursor: pointer;
}

.copy{
  cursor: pointer;
  letter-spacing: 2px;
}

.footer-links{
  display: flex;
  flex-direction: row;
  gap:1.4rem;
  justify-content: space-between;
}

.foot-link{
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  width: fit-content;
}

.foot-link:hover{
  color: white;
  opacity: 0.7;
  text-decoration: underline;
}

.footer-col{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.footer-social-row{
  display: flex;
  justify-content: space-between;
    margin-bottom: 2rem;

}

.socials{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: rgba(255, 255, 255, 0.8);
}

.socials > div > i:hover{
  color: white;
  opacity: 1;
}

.social-row{
  display: flex;
  gap:1.4rem;
}